<!-- /Start your project here-->
<div class="container" style="margin-top: 4rem;">
        <!-- Content here -->

        <div class="row">

                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">

                        <div class="container " style="margin-top:0;">
                                <div class="panel">
                                        <div class="panel-heading" style="height: 75px;">
                                                <div class="row" style="align-items: center">
                                                        <div class="col-12">
                                                                <div class="btn-group">
                                                                        <button type="button" class="btn btn-outline-danger" style="border: none;box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.05);">
                                                                                <p class="panel-title" ng-class="getFlag(currencySelected.flag)" style="white-space: nowrap; overflow: hidden; display: inline-block; text-overflow: ellipsis; margin: 0">
                                                                                </p>
                                                                                <p>{{currencySelected.name}}</p>
                                                                        </button>
                                                                        <button type="button" class="btn btn-outline-danger dropdown-toggle px-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                                                style="border: none;box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.05);">
                                                                                <span class="sr-only">Toggle Dropdown</span>
                                                                        </button>
                                                                        <div class="dropdown-menu pre-scrollable">
                                                                                <button ng-repeat="currency in masterCurrencyList" class="dropdown-item" ng-click="setCurrencySelected(currency)">
                                                                                        <p ng-class="getFlag(currency.flag)" style="margin-right: 10px; margin-bottom: 0px"></p>
                                                                                        {{currency.currencyCode}}
                                                                                        <div class="dropdown-divider"></div>
                                                                                </button>

                                                                                <div class="dropdown-divider"></div>
                                                                        </div>
                                                                </div>
                                                                <div class="btn-group">
                                                                        <button type="button" class="btn btn-outline-danger" style="border: none;box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.05);">
                                                                                <p class="panel-title" style="white-space: nowrap; overflow: hidden; display: inline-block; text-overflow: ellipsis; margin: 0">
                                                                                        {{bankSelected.bankName}}
                                                                                </p>
                                                                        </button>
                                                                        <button type="button" class="btn btn-outline-danger dropdown-toggle px-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                                                style="border: none;box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.05);">
                                                                                <span class="sr-only">Toggle Dropdown</span>
                                                                        </button>
                                                                        <div class="dropdown-menu dropdown-menu-right pre-scrollable" style="width: 350px">
                                                                                <button ng-repeat="bank in bankList" class="dropdown-item" ng-click="setBankSelected(bank)">
                                                                                        <p style="margin-right: 10px; margin-bottom: 0px"></p>
                                                                                        {{bank.bankName}}
                                                                                        <div class="dropdown-divider"></div>
                                                                                </button>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="panel-body">
                                                <p style="text-justify: distribute-all-lines">
                                                        The US Dollar is the currency of United States. Our currency rankings show that the most popular United States Dollar exchange
                                                        rate is the USD to EUR rate. The currency code for Dollars is USD,
                                                        and the currency symbol is $. Below, you'll find US Dollar rates
                                                        and a currency converter.
                                                </p>
                                                <p>
                                                        The US Dollar is the most commonly converted currency in the world and is regularly used as a benchmark in the Forex market.
                                                        As the dominant global reserve currency, it is held by nearly every
                                                        central bank in the world. Additionally, the Dollar is used as the
                                                        standard currency in the commodity market and therefore has a direct
                                                        impact on commodity prices.
                                                </p>

                                                <div class="row">
                                                        <div class="col-xl-6 col-lg-12 col-md-12" style="padding-left:10px; padding-right:10px;margin-bottom:10px">
                                                                <div class="card" style="box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.1);">
                                                                        <div class="card-header green-text">
                                                                                Buying Values
                                                                        </div>
                                                                        <div class="card-body" style="padding:1.25rem;">
                                                                                <div>
                                                                                        <h3 style="display: inline;">{{todayRateOfSelectedBank.buyRate}}</h3>
                                                                                        <p style="display: inline;">LKR</p>
                                                                                        <h5 style="display: inline; color: green; ">
                                                                                                <i class="fa fa-arrow-up fa-md" style="margin-left:10px;margin-right:5px; font-size: 24px " aria-hidden="true"></i>
                                                                                                0.2500</h5>
                                                                                </div>
                                                                                <div style="padding-top:1rem;">
                                                                                        <small class="grey-text">Past week</small>
                                                                                        <hr style="margin-top:.5rem;">
                                                                                        <div class="row" style="margin-bottom:1rem;">
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.4190</h5>
                                                                                                        <small class="grey-text">30/12/2017</small>
                                                                                                </div>
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.2190</h5>
                                                                                                        <small class="grey-text">29/12/2017</small>
                                                                                                </div>
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.0190</h5>
                                                                                                        <small class="grey-text">28/12/2017</small>
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="row" style="margin-bottom:1rem;">
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.4190</h5>
                                                                                                        <small class="grey-text">30/12/2017</small>
                                                                                                </div>
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.2190</h5>
                                                                                                        <small class="grey-text">29/12/2017</small>
                                                                                                </div>
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.0190</h5>
                                                                                                        <small class="grey-text">28/12/2017</small>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                                <div style="padding-top:1rem;">
                                                                                        <small class="grey-text">Performance</small>
                                                                                        <hr style="margin-top:.5rem;">
                                                                                        <div class="row" style="margin-bottom:1rem;">
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.4190</h5>
                                                                                                        <small class="grey-text">Week's High</small>
                                                                                                </div>
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.2190</h5>
                                                                                                        <small class="grey-text">30D High</small>
                                                                                                </div>
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.0190</h5>
                                                                                                        <small class="grey-text">90D High</small>
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="row" style="margin-bottom:1rem;">
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.4190</h5>
                                                                                                        <small class="grey-text">Week's Low</small>
                                                                                                </div>
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.2190</h5>
                                                                                                        <small class="grey-text">30D Low</small>
                                                                                                </div>
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.0190</h5>
                                                                                                        <small class="grey-text">90D Low</small>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                        <div class="col-xl-6 col-lg-12 col-md-12" style="padding-left:10px; padding-right:10px;">
                                                                <div class="card" style="box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.1);">
                                                                        <div class="card-header red-text">
                                                                                Selling Values
                                                                        </div>
                                                                        <div class="card-body" style="padding:1.25rem;">
                                                                                <div>
                                                                                        <h3 style="display: inline;">{{todayRateOfSelectedBank.sellRate}}</h3>
                                                                                        <p style="display: inline;">LKR</p>
                                                                                        <h5 style="display: inline; color: green; ">
                                                                                                <i class="fa fa-arrow-up fa-md" style="margin-left:10px;margin-right:5px; font-size: 24px " aria-hidden="true"></i>
                                                                                                0.2500</h5>
                                                                                </div>
                                                                                <div style="padding-top:1rem;">
                                                                                        <small class="grey-text">Past week</small>
                                                                                        <hr style="margin-top:.5rem;">
                                                                                        <div class="row" style="margin-bottom:1rem;">
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.4190</h5>
                                                                                                        <small class="grey-text">30/12/2017</small>
                                                                                                </div>
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.2190</h5>
                                                                                                        <small class="grey-text">29/12/2017</small>
                                                                                                </div>
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.0190</h5>
                                                                                                        <small class="grey-text">28/12/2017</small>
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="row" style="margin-bottom:1rem;">
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.4190</h5>
                                                                                                        <small class="grey-text">30/12/2017</small>
                                                                                                </div>
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.2190</h5>
                                                                                                        <small class="grey-text">29/12/2017</small>
                                                                                                </div>
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.0190</h5>
                                                                                                        <small class="grey-text">28/12/2017</small>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                                <div style="padding-top:1rem;">
                                                                                        <small class="grey-text">Performance</small>
                                                                                        <hr style="margin-top:.5rem;">
                                                                                        <div class="row" style="margin-bottom:1rem;">
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.4190</h5>
                                                                                                        <small class="grey-text">Week's High</small>
                                                                                                </div>
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.2190</h5>
                                                                                                        <small class="grey-text">30D High</small>
                                                                                                </div>
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.0190</h5>
                                                                                                        <small class="grey-text">90D High</small>
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="row" style="margin-bottom:1rem;">
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.4190</h5>
                                                                                                        <small class="grey-text">Week's Low</small>
                                                                                                </div>
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.2190</h5>
                                                                                                        <small class="grey-text">30D Low</small>
                                                                                                </div>
                                                                                                <div class="col-4">
                                                                                                        <h5 style="margin-bottom:0;">151.0190</h5>
                                                                                                        <small class="grey-text">90D Low</small>
                                                                                                </div>
                                                                                        </div>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="row" style="margin:1rem;"></div>
                        <div class="container">
                                <div class="card" style="box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.1);">
                                        <h4 class="card-header" style="text-align: center;font-weight: bold">{{currencySelected.currencyCode}} Rates of other banks</h4>
                                        <div ng-show="ratesOfOtherBanks" class="card-body">
                                                <table class="table table-fluid table-sm table-hover table-bordered table-responsive table-hover" style="padding-left: 0px">
                                                        <thead class="">
                                                                <tr>
                                                                        <th scope="col" style="text-align: center; min-width: 100px">Bank</th>
                                                                        <th scope="col" style="text-align: center; min-width: 80px">Buying Rate (LKR)</th>
                                                                        <th scope="col" style="text-align: center; min-width: 80px">Selling Rate (LKR)</th>
                                                                </tr>
                                                        </thead>
                                                        <tbody>
                                                                <tr ng-repeat="rate in ratesOfOtherBanks">
                                                                        <td style="text-align: left">
                                                                                <img ng-src="..\images\{{getBankByBankId(rate.bankId).bankDisplayCode}}.png"
                                                                                        width="30" height="30" style="margin-right:5px;"></img>{{getBankByBankId(rate.bankId).bankName}}</td>
                                                                        <td style="text-align: right">{{rate.sellRate | currency : ""}}</td>
                                                                        <td style="text-align: right">{{rate.buyRate | currency : ""}}</td>
                                                                </tr>
                                                        </tbody>
                                                </table>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 " style="margin-top:10px;display:inline-block">
                        <div class="card-body" style="padding-top:1rem;">
                                <!--Title-->
                                <h4 class="card-title">Calculate</h4>
                                <hr style="margin-top:.5rem;">
                                <div class="md-form form-sm" style="margin-bottom:0px; height:80px;">
                                        <div class="row">
                                                <div class="btn-group col-5" style="padding-top: 15px; padding-right:0px; ">
                                                        <button ng-if="!fromCurrency" class="btn btn-outline-danger waves-effect" style="max-height:45px; width: 75px;margin-right: 0px;padding-right:0px; padding-left:0px;"
                                                                type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">From</button>

                                                        <button ng-if="fromCurrency" class="btn btn-outline-danger waves-effect" type="button" data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                <p ng-class="getFlag(fromCurrency.flag)" style="white-space: nowrap; text-overflow: ellipsis"></p>
                                                                {{fromCurrency.currencyCode}}</button>


                                                        <div class="dropdown-menu pre-scrollable">
                                                                <button ng-disabled="toCurrency.currencyCode!='LKR'" ng-repeat="currency in masterCurrencyList" class="dropdown-item" ng-click="setFromCurrency(currency)">
                                                                        <p ng-class="getFlag(currency.flag)"></p>
                                                                        {{currency.currencyCode}}
                                                                        <div class="dropdown-divider"></div>
                                                                </button>

                                                                <div class="dropdown-divider"></div>
                                                        </div>
                                                </div>
                                                <div class="md-form form-group  col-7" style="padding-left:0px; ">
                                                        <label id="lblAmount" class="lable" style="vertical-align: bottom;">Amount</label>
                                                        <input type="number" id="lblToAmount" ng-model="fromAmount" ng-change="fromCurrencyOnChange()" class="form-control validate"
                                                                style="width: 150px; padding-left:0px; padding-top:20px;">
                                                </div>
                                        </div>
                                </div>
                                <div class="md-form form-sm" style="margin-bottom:0px;">
                                        <div class="row">
                                                <div class="btn-group col-5" style="padding-top: 5px; padding-right:0px; ">
                                                        <button ng-if="!fromCurrency" class="btn btn-outline-danger waves-effect" style="max-height:45px; width: 75px;margin-right: 0px;padding-right:0px; padding-left:0px;"
                                                                type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">To</button>

                                                        <button ng-if="fromCurrency" class="btn btn-outline-danger waves-effect" type="button" data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                                <p ng-class="getFlag(fromCurrency.flag)" style="white-space: nowrap; text-overflow: ellipsis"></p>
                                                                {{fromCurrency.currencyCode}}</button>


                                                        <div class="dropdown-menu pre-scrollable">
                                                                <button ng-disabled="toCurrency.currencyCode!='LKR'" ng-repeat="currency in masterCurrencyList" class="dropdown-item" ng-click="setFromCurrency(currency)">
                                                                        <p ng-class="getFlag(currency.flag)"></p>
                                                                        {{currency.currencyCode}}
                                                                        <div class="dropdown-divider"></div>
                                                                </button>

                                                                <div class="dropdown-divider"></div>
                                                        </div>
                                                </div>
                                                <div class="col-7" style="padding-left:0px; ">
                                                        <input type="text" id="form1" class="form-control" placeholder="Value" style="display: inline;" disabled>
                                                </div>
                                        </div>
                                </div>

                        </div>
                        <div class="list-group" style="margin-top:1rem; ">
                                <a class="list-group-item" href="#">
                                        <p class="flag-icon flag-icon-gb" style="margin-right: 10px; margin-bottom: 0px"></p>&nbsp; British Pound</td>
                                        <span class="float-right">
                                                <p style="display:inline-table; color: green;margin-bottom: 0px ; margin-right:10px">150.5000</p>&nbsp; &nbsp;
                                                <p style="display:inline-table; color: red;margin-bottom: 0px">148.5000</p>&nbsp; </a>
                                </span>
                                </a>
                                <a class="list-group-item" href="#">
                                        <p class="flag-icon flag-icon-in" style="margin-right: 10px; margin-bottom: 0px"></p>&nbsp; Indian Rupee
                                        <span class="float-right">
                                                <p style="display:inline-table; color: green;margin-bottom: 0px; margin-right:10px">150.5000</p>&nbsp; &nbsp;
                                                <p style="display:inline-table; color: red;margin-bottom: 0px">148.5000</p>&nbsp; </a>
                                </span>
                                </a>

                                <a class="list-group-item" href="#">
                                        <p class="flag-icon flag-icon-eu" style="margin-right: 10px; margin-bottom: 0px; display:inline-table"></p>&nbsp; Euro
                                        <span class="float-right">
                                                <p style="display:inline-table; color: green; margin-bottom: 0px; margin-right:10px">150.5000</p>&nbsp; &nbsp;
                                                <p style="display:inline-table; color: red; margin-bottom: 0px">148.5000</p>&nbsp; </a>
                                </span>
                                <a class="list-group-item" href="#">
                                        <p class="flag-icon flag-icon-ch" style="margin-right: 10px; margin-bottom: 0px"></p>&nbsp; Switzerland Frank
                                        <span class="float-right">
                                                <p style="display:inline-table; color: green; margin-bottom: 0px; margin-right:10px">150.5000</p>&nbsp; &nbsp;
                                                <p style="display:inline-table; color: red; margin-bottom: 0px">148.5000</p>&nbsp; </a>
                                </span>
                                </a>
                                <a class="list-group-item" href="#">
                                        <p class="flag-icon flag-icon-ca" style="margin-right: 10px; margin-bottom: 0px"></p>&nbsp; Canadian Dollar
                                        <span class="float-right">
                                                <p style="display:inline-table; color: green; margin-bottom: 0px; margin-right:10px">150.5000</p>&nbsp; &nbsp;
                                                <p style="display:inline-table; color: red; margin-bottom: 0px">148.5000</p>&nbsp; </a>
                                </span>
                                </a>
                        </div>
                </div>

        </div>

</div>



</div>

</div>