<link rel="stylesheet" href="styles/analytics.css" />
<body>
        <!-- /Start your project here-->
        <div class="container-fluid container-fluid-custom" item-height="50px">
                <!-- Content here -->

        </div>

        <div class="container " style="padding-top: 25px; padding-bottom: 25px">
                <div class="row" style="padding-bottom: 15px">
                        <div class="col center-on-small-only">
                                <div class="btn-group" style="margin-bottom: 5px; margin-right: 10px">

                                        <button class="btn btn-danger btn-md dropdown-toggle" style="width: 150px" type="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">Currency</button>

                                        <div class="dropdown-menu pre-scrollable">
                                                <a class="dropdown-item" href="#">
                                                        <p class="flag-icon flag-icon-us" style="margin-right: 10px; margin-bottom: 0px"></p>USD - United States Dollar
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">
                                                        <p class="flag-icon flag-icon-gb" style="margin-right: 10px; margin-bottom: 0px"></p>GBP - Grate Britain Pound
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">
                                                        <p class="flag-icon flag-icon-eu" style="margin-right: 10px; margin-bottom: 0px"></p>EUR - Euro
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">
                                                        <p class="flag-icon flag-icon-ch" style="margin-right: 10px; margin-bottom: 0px"></p>CHF - Switzerland Frank
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">
                                                        <p class="flag-icon flag-icon-ca" style="margin-right: 10px; margin-bottom: 0px"></p>CAD - Canadian Dollar
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">
                                                        <p class="flag-icon flag-icon-au" style="margin-right: 10px; margin-bottom: 0px"></p>AUD - Australian Dollar
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">
                                                        <p class="flag-icon flag-icon-sg" style="margin-right: 10px; margin-bottom: 0px"></p>SGD - Singapore Dollar
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">
                                                        <p class="flag-icon flag-icon-jp" style="margin-right: 10px; margin-bottom: 0px"></p>JPY - Japanese Yen
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">
                                                        <p class="flag-icon flag-icon-cn" style="margin-right: 10px; margin-bottom: 0px"></p>CNY - Chinese Yuan
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">
                                                        <p class="flag-icon flag-icon-in" style="margin-right: 10px; margin-bottom: 0px"></p>INR - Indian Rupee
                                                </a>

                                                <div class="dropdown-divider"></div>
                                        </div>
                                </div>
                                
                        </div>
                </div>
                <div class="row">
                        <div class="col col-lg-6 col-md-6 " style="padding-bottom: 25px">
                                <h3>
                                        <p class="flag-icon flag-icon-us" style="margin-right: 10px; margin-bottom: 0px"></p>USD - United States Dollar
                                </h3>

                        </div>
                        <div class="col col-lg-6 col-md-6" style="padding-bottom: 25px">
                        </div>
                </div>

                <div class="row">
                        <div class="col-md-8">
                                <div class="card">
                                        <div class="card-body">
                                                <div class="box-header with-border">
                                                        <h3 class="box-title">Line Chart</h3>
                                                </div>
                                                <div class="box-body">
                                                        <div class="chart">
                                                                <canvas id="lineChart" style="height:250px"></canvas>
                                                        </div>
                                                </div>
                                                <!-- /.box-body -->
                                        </div>
                                </div>

                        </div>
                        <div class="col-md-4">
                                <div class="chip">
                                        <img src="img\img_avatar.png" alt="Person" >
                                        John Doe
                                </div> 

                        </div>

                </div>

        </div>

</body>

