<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<!-- Slide One - Set the background image for this slide in the line below -->
		<div class="carousel-item active" style="background-image: url('../images/slide01.jpg')">
			<div class="carousel-caption d-none d-md-block">
				<h3>First Slide</h3>
				<p>This is a description for the first slide.</p>
			</div>
		</div>
		<!-- Slide Two - Set the background image for this slide in the line below -->
		<div class="carousel-item" style="background-image: url('../images/slide02.jpg')">
			<div class="carousel-caption d-none d-md-block">
				<h3>Second Slide</h3>
				<p>This is a description for the second slide.</p>
			</div>
		</div>
		<!-- Slide Three - Set the background image for this slide in the line below -->
		<div class="carousel-item" style="background-image: url('../images/slide03.jpg')">
			<div class="carousel-caption d-none d-md-block">
				<h3>Third Slide</h3>
				<p>This is a description for the third slide.</p>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" target="_self" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" target="_self" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
</br>
<div class="container" >
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 " style="padding-bottom: 15px">
			<div class="card" style="box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.1);">
				<div class="card-header">
					<h5 style="text-align: center;font-weight: bold">Currency Converter</h5>
				</div>

				<div class="card-body" style="height: auto">
					<div style="vertical-align: center; align-content: center">
						<form class="form-inline" style="padding-left: 25px;">
							
							<div class="btn-group" style="padding-top: 15px;">
								<div class="" style="padding-top: 15px;margin-right: 20px">
									<span style="margin-top: 5px" class=>From</span>
								</div>
								<button ng-if="!fromCurrency" class="btn btn-outline-danger waves-effect" style="width: 140px;margin-right: 30px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12);" type="button"
								 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Currency</button>

								<button ng-if="fromCurrency" class="btn btn-outline-danger waves-effect" 
								style="max-height: 45px; color: black;margin-right: 30px; padding-left:15px; padding-right:15px; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12);"
								 type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<p ng-class="getFlag(fromCurrency.flag)" style="white-space: nowrap; text-overflow: ellipsis"></p>
									{{fromCurrency.currencyCode}}</button>


								<div class="dropdown-menu pre-scrollable">
									<button ng-disabled="toCurrency.currencyCode!='LKR'" ng-repeat="currency in masterCurrencyList" class="dropdown-item" ng-click="setFromCurrency(currency)">
										<p ng-class="getFlag(currency.flag)" ></p>
										{{currency.currencyCode}}
										<div class="dropdown-divider"></div>
									</button>

									<div class="dropdown-divider"></div>
								</div>
							</div>

							<div class="md-form form-group" style="margin-top: 25px">
								<input type="number" value="0.0" id="lblToAmount" ng-model="fromAmount" ng-change="calculateResultAmount()" class="form-control validate">
								<label for="form1" class="active">Amount</label>
							</div>

							<div class="btn-group" style="padding-top: 15px;">
								<div class="" style="padding-top: 15px;margin-right: 20px">
									<span style="margin-top: 5px" class=>To</span>
								</div>
								<button ng-if="!toCurrency" class="btn btn-outline-danger waves-effect" style="width: 140px;margin-right: 30px" type="button"
								 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Currency</button>

								<button ng-if="toCurrency" class="btn btn-outline-danger waves-effect" style="max-height: 45px; color: black;margin-right: 30px; padding-left:15px; padding-right:15px; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12); "
								 type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<p ng-class="getFlag(toCurrency.flag)" style="white-space: nowrap; text-overflow: ellipsis"></p>
									{{toCurrency.currencyCode}}</button>


								<div class="dropdown-menu pre-scrollable">
									<button ng-disabled="fromCurrency.currencyCode != 'LKR'" ng-repeat="currency in masterCurrencyList" class="dropdown-item"
									 ng-click="setToCurrency(currency)">
										<p ng-class="getFlag(currency.flag)" style="margin-right: 10px; margin-bottom: 0px"></p>
										{{currency.currencyCode}}
										<div class="dropdown-divider"></div>
									</button>

									<div class="dropdown-divider"></div>
								</div>
							</div>
							<div class="btn-group" style="padding-top: 15px;">
								<button ng-if="!bankSelected" class="btn btn-outline-danger waves-effect" style="width: 250px;margin-right: 30px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12);" type="button"
								 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bank</button>

								<button ng-if="bankSelected" class="btn btn-outline-danger waves-effect" style="padding-left:15px; padding-right:15px;margin-right: 30px;width: 250px; max-height: 45px; color: black; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.12);"
								 type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<p style="
									white-space: nowrap;
									overflow: hidden;
									display: inline-block;
									text-overflow: ellipsis;
									margin: 0">{{bankSelected.bankName}}</p>
									</button>

								<div class="dropdown-menu pre-scrollable" style="width: 350px">
									<button ng-repeat="bank in bankList" class="dropdown-item" ng-click="setBankSelected(bank)">
										<p style="margin-right: 10px; margin-bottom: 0px"></p>
										{{bank.bankName}}
										<div class="dropdown-divider"></div>
									</button>
								</div>
							</div>
							<div class="" style="padding-top: 15px">
								<h2>
									<span style="margin-top: 5px" class="badge red">{{resultAmount | currency : currencySymbol}}</span>
								</h2>
							</div>

						</form>

					</div>

				</div>
			</div>

		</div>

	</div>
	</br>
	<div class="container-custom">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="card bg-light mb-3" style="box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.1);">
					<h5 class="card-header" style="text-align: center;font-weight: bold">Daily Exchange Rates From Central Bank</h5>
					<div class="card-body">
						<table class="table table-hover">
							<thead class="table-inverse" style="background: #f8f9fa">
								<tr>
									<th scope="col" style="font-size: 16px; color: black;">Country</th>
									<th scope="col" style="font-size: 16px; color: black;">Currency</th>
									<th scope="col" style="font-size: 16px; color: black;">Sell Rate</th>
									<th scope="col" style="font-size: 16px; color: black;">Buy Rate</th>
								</tr>
							</thead>
							<tbody style="background: #fff">
								<tr ng-repeat="cbRate in cbRatesList">
									<th scope="row" style="font-size: 16px">
										<p ng-class="getFlag(cbRate.currerncyMaster.flag)" style="margin-right: 5px;margin-bottom: 0px"></p>{{cbRate.currerncyMaster.country}}</th>
									<td>{{cbRate.currerncyMaster.name}} ({{cbRate.currerncyMaster.currencyCode}})</td>
									<td>{{cbRate.buyRate | currency : ""}}</td>
									<td>{{cbRate.sellRate | currency : ""}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>
	</br>
	<div class="container-custom">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="card" style="box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.1);">
					<h5 class="card-header" style="text-align: center;font-weight: bold">Best Rates in Sri Lanka</h5>
					<div class="card-body">
						<table class="table table-sm table-hover table-bordered table-responsive table-hover" style="padding-left: 0px">
							<thead class="" style="background: #f8f9fa">
								<tr>
									<th scope="col" style="text-align: center; min-width: 150px">Bank</th>
									<th scope="col" style="text-align: center; min-width: 100px">GetRates</th>

									<th ng-repeat="currency in masterCurrencyList" scope="col" style="text-align: center; min-width: 80px">
										<p ng-class="getFlag(currency.flag)" style="margin-right: 10px; margin-bottom: 0px"></p>{{currency.currencyCode}}</th>
								</tr>
							</thead>
							<tbody style="background: #fff">
								<tr ng-repeat="bank in bankList">
									<td style="text-align: left">
										<p class="flag-icon flag-icon-us" style="margin-right: 10px; margin-bottom: 0px;"></p>{{bank.bankName}}</td>
									<td>
										<a class="badge badge-pill badge-light" data-toggle="modal" data-target="#exampleModal" ng-click="openModal()" role="button"
										 style="margin-left: 15px">Get Rates</a>
									</td>
									<td ng-repeat="currency in masterCurrencyList" style="text-align: left">{{getBankSellRateForCurrency(bank, currency) | currency : ""}}
										<br/>{{getBankBuyRateForCurrency(bank, currency) | currency : ""}}</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>